<div class="well">

  <div class="row">
    <div class="col-xs-5">
      <h3><%= ticket.ticket_type %></h3>
      <h4>Seat No: <span class="label label-danger"><%= order_item.seat_no %></span></h4>

    </div>
    <div class="col-xs-7">

      <%= form_for order_item, remote: true do |f| %>
        <h4>Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>

        <div class="col-xs-3">
          <%= f.hidden_field :ticket_id, value: ticket.id %>
          <%= f.text_field :code %>
        </div>

        <div class="row">

          <div class="col-xs-8">
            <div class="btn-group">
              <%= f.submit "Validate Coupon", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
