<section id="hero" class="login">
	<div class="container">
	  <div class="row">
    	<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      	<div id="login">
          <div class="text-center"><img src="<%= image_path('logo_sticky.png') %>" alt="" data-retina="true" ></div>
          <hr>
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>
              <div class="form-group">
                <%= f.input :email, required: true, autofocus: true, class: 'form-control', placeholder: "Email" %>
              </div>
              <div id="pass-info" class="clearfix"></div>
              <%= f.button :submit, "Send me reset password instructions", class: "btn_full" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
