<p id="notice"><%= notice %></p>

<p>
  <strong>Line item:</strong>
  <%= @order.line_item %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Promo code:</strong>
  <%= @order.promo_code %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
