<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Diversecity, <%= @user.name %></h1>
    <p>
      Thank you for your purchase. Below are your details of transaction.
    </p>
    <br>
    <% @transaction = Payment.where(user_id: @user.id).order("updated_at").last %>
    <p>Transaction ID: <%= @transaction.transaction_id %></p>
    <p>Amount Paid: <%= @transaction.transaction_amount %></p>
    <p>Payment Date and Time: <%= @transaction.purchased_at.strftime(" %d/%m/%Y at %I:%M%p") %></p>
    <br>
      <% @tickets = @transaction.cart.line_items %>
      <% @tickets.each do |ticket| %>
        <p>Ticket type: <%= Ticket.find(ticket.ticket_id).ticket_type %></p>
        <% if ticket.seat_no >= 0 || ticket.seat_no.nil? %>
          <p>Seat No: Free seating</p>
        <% else %>
          <p>Seat No: <%= ticket.seat_no %></p>
        <% end %>
      <% end %>
      <hr>
    <br>
    <p>Thanks and have a great day!</p>
  </body>
</html>
