<div class="well">

  <div class="row">
    <div class="col-xs-5">
      <h4><%= ticket.ticket_type %></h4>
      Seat No: <small>From <%= ticket.min_seat_no %> to <%= ticket.max_seat_no %></small>
    </div>
    <div class="col-xs-7">

      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency ticket.price %></span></h4>
        <div class="input-group">
          <% seats = ticket.min_seat_no..ticket.max_seat_no %>
          <%= f.select(:seat_no, seats.collect {|d| [d.to_s,d.to_s]}, {:prompt => '-- Choose a Seat No --'} ) %>

          <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :ticket_id, value: ticket.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
