
    <div id="position">
    	<div class="container">
        	<ul>
            <li><%= link_to "My Tickets", my_tickets_path %></li>
          </ul>
        </div>
    </div><!-- End position -->

		<br>
		<br>
		<br>
		<br>
		<br>

    <div class="container margin_60">
	<div class="row">
		<div class="col-md-8">

			<div class="form_title">
				<h3><strong><i class="icon-tag-1"></i></strong>Assign Tickets</h3>
        <p>Only tickets without name are allowed to assign</p>
			</div>
			<div class="step">
        <%= form_tag subcurator_tickets_path, method: :put  do %>
	        <table class="table">
	          <thead>
	            <tr>
                <th colspan="1"></th>
	              <th>Event</th>
	              <th>Ticket</th>
                <th>Seat No</th>
                <th>UID</th>
	            </tr>
	          </thead>

	          <tbody>
              <% @my_tickets.each do |mt| %>
	            <tr>
                  <td><%= check_box_tag "mt_id[]", mt.id %>
	                <td><%= mt.ticket.event.name %></td>
	                <td><%= mt.ticket.ticket_type %></td>
                  <% if mt.seat_no > 0 %>
                    <td><%= mt.seat_no %>
                  <% else %>
                    <td> Free seating </td>
                  <% end %>
                  <td><%= mt.uid %></td>
							</tr>
              <% end %>
	          </tbody>
	        </table>
					<% if current_user.curator? %>
          	<%= select_tag "Subcurator", options_from_collection_for_select(@subcurator, "id", "name"), {prompt: "-- Select a subcurator --"} %>
					<% else %>
						<%= select_tag "Subcurator", options_from_collection_for_select(@curator, "id", "name"), {prompt: "-- Select a curator --"} %>
					<% end %>
          &nbsp&nbsp&nbsp&nbsp<%= submit_tag "Assign", class: 'btn btn-default' %>
        <% end %>
			</div><!--End step -->
		</div><!--End col-md-8 -->

	</div><!--End row -->
</div>

<br>
<br>
<br>
<br>
<br>
