
<h1>Listing Tickets</h1>
<% if can? :create, @event %>
  <%= link_to 'Add ticket', new_event_ticket_path(@event), class: 'btn btn-default' %>
<% end %>

<% if @tickets.empty? %>
  <h1>Sorry. The tickets not released yet.</h1>

<% else %>
<table class="table">
  <thead>
    <tr>
      <th>Ticket type</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
    <% if ticket.remaining_seats_by_quantity > 0 %>
      <tr>
        <td><%= ticket.ticket_type %></td>
        <td><%= number_to_currency(ticket.price) %></td>

        <td><%= button_to 'Add to Cart' , line_items_path(ticket_id: ticket) %></td>
        <% if can? :update, ticket %>
          <td><%= link_to 'Edit', edit_event_ticket_path(@event, ticket) %></td>
        <% end %>
        <% if can? :destroy, ticket %>
          <td><%= link_to 'Destroy', event_ticket_path(@event, ticket) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% end %>
