
<% if can? :create, @event %>
<h1>Listing Tickets</h1>

<%= link_to 'Add ticket', new_event_ticket_path(@event), class: 'btn btn-default' %>


<table class="table">
  <thead>
    <tr>
      <th>Ticket type</th>
      <th>Price</th>
      <th>Minimum Seat No</th>
      <th>Maximum Seat No</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticket_type %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.min_seat_no %></td>
        <td><%= ticket.max_seat_no %></td>

        <td><%= link_to 'Show', event_ticket_path(@event, ticket) %></td>
        <% if can? :update, ticket %>
          <td><%= link_to 'Edit', edit_event_ticket_path(@event, ticket) %></td>
        <% end %>
        <% if can? :destroy, ticket %>
          <td><%= link_to 'Destroy', event_ticket_path(@event, ticket) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>

<h3 class="text-center">Tickets for Sale</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @tickets.each do |ticket| %>
      <%= render "ticket_row", ticket: ticket, order_item: @order_item %>
    <% end %>
  </div>
</div>

<% end %>
