
    <div id="position">
    	<div class="container">
        	<ul>
            <li><%= link_to "My Tickets", my_tickets_path %></li>
          </ul>
        </div>
    </div><!-- End position -->
		<br>
		<br>
		<br>
		<br>
		<br>
    <div class="container margin_60">
	<div class="row">
		<div class="col-md-8">

			<div class="form_title">
				<h3><strong><i class="icon-tag-1"></i></strong>My Tickets</h3>
				<p>
					Print your tickets here
				</p>
			</div>
			<div class="step">
				<% if @my_tickets.empty? %>
					<h5 style="color:red">No tickets to show.</h5>
				<% else %>
	        <table class="table">
	          <thead>
	            <tr>
	              <th>Event</th>
	              <th>Ticket</th>
	              <th>Quantity</th>
	              <th colspan="1"></th>
	            </tr>
	          </thead>

	          <tbody>
							<% @mts.each do |mt| %>
	            <tr>
	              <td><%= Ticket.find(mt).event.name %></td>
	              <td><%= Ticket.find(mt).ticket_type %></td>
	              <td><%= @my_tickets.where(ticket_id: mt).pluck(:quantity).sum %></td>
								<td><%= link_to "Customize Tickets", tickets_customization_path(ticket_id: mt) %></td>
								<td><%= link_to "Assign Ticket", assign_tickets_path(ticket_id: mt) %></td>
							</tr>
							<% end %>
	          </tbody>
	        </table>
				<% end %>
			</div><!--End step -->
		</div><!--End col-md-8 -->

	</div><!--End row -->
</div>

<br>
<br>
<br>
<br>
<br>
