<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

<p>
  <strong>Type:</strong>
  <%= @ticket.ticket_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event.name %>
</p>

<%= link_to 'Edit', edit_event_ticket_path(@event, @ticket) %> |
<%= link_to 'Back', event_tickets_path %>

</div>
