
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
      <h5><%= ticket.ticket_type %></h5>
      <h5>Seat No: <%= order_item.seat_no %></h5>
      <h5>Unit Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h5>

      <%= form_for order_item, remote: true do |f| %>
        <div class="row">
          <div class="col-xs-4">
            <%= f.hidden_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :ticket_id, value: ticket.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= link_to "", order_item, { data: { confirm: "Are you sure you wish to delete the ticket '#{order_item.ticket.ticket_type}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger glyphicon glyphicon-trash" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>
