<h2 style="display:inline">Your Cart</h2>&nbsp&nbsp
<%= link_to 'Empty cart' , @cart, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
<%= link_to 'Ticket selection', store_url , class: 'btn btn-default' %>

<br><br>
<table class="table">
  <% for item in @cart.line_items %>
    <%= simple_form_for item do |f|%>
      <tr>
        <td>
          <%= item.ticket.ticket_type %><br></br>
          <% if item.ticket.free == true %>
            Remaining seats : <%= item.remaining_seats_by_quantity %> / <%= item.ticket.quantity %>
          <% else %>
            Seat No: <%= item.seat_no %>
          <% end %>
        </td>
        <td class="item_price" ><%= number_to_currency(item.total_price_after_discount) %></td>
        <td>
          <% if item.ticket.free == true %>
            <td><%= f.input :quantity, value: item.quantity %></td>
            <td><%= f.submit "Update Qty", class: 'btn btn-primary' %></td>
          <% else %>
            <% seats = item.total_seats.reject{ |e| item.all_taken_seat.include? e } %>
            <% if item.seat_no == 0 || item.seat_no.nil? %>
              <td><%= f.select :seat_no, seats %></td>
              <td><%= f.submit "Select Seat", class: 'btn btn-primary' %></td>
            <% end %>
          <% end %>

        <td><%= f.input :code %></td>
        <td><%= f.submit "Validate Code", class: 'btn btn-primary' %></td>

        </td>
        <td>
          <%= link_to 'Remove ticket', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <%  end %>
  <% end %>

  <tr class="total_line" >
    <td colspan="1" >Total</td>
    <td class="total_cell" ><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= link_to "Checkout" , new_payment_path, class: 'btn btn-success' %>
