<!-- <h2 style="display:inline">Your Cart</h2>&nbsp&nbsp
<%= link_to 'Empty cart' , @cart, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger' %>
<%= link_to 'Ticket selection', store_url , class: 'btn btn-default' %>

<br><br>
<h5 style="text-align:center">Your ticket purchase session will be kept for ten minutes.
Failing which that ticket will be released and you will have to redo the ticketing process again.
</h5>
<h3 style="text-align:center">

  <div id="timer"></div>
</h3>
<br>
<table class="table"> -->

  <!-- <% for item in @cart.line_items %>
    <%= simple_form_for item do |f|%>
      <tr>
        <td>
          <%= item.ticket.ticket_type %><br></br>
          <% if item.ticket.event.free_seating? %>
            Remaining seats : <%= item.remaining_seats_by_quantity %> / <%= item.ticket.quantity %>
          <% else %>
            Seat No: <%= item.seat_no %>
          <% end %>
        </td>
        <td>Unit price: <%= number_to_currency(item.total_price_after_discount) %></td>
        <td>
          <% if item.ticket.event.free_seating? %>
            <td><%= f.label :quantity %></td>
              <td><%= f.select :quantity, 0..item.remaining_seats_by_quantity, value: item.quantity %></td>
            <td><%= f.submit "Update Qty", class: 'btn btn-primary' %></td>
          <% else %>
            <% seats = item.total_seats.reject{ |e| item.all_taken_seat.include? e } %>
            <% if item.seat_no == 0 || item.seat_no.nil? %>
              <td><%= f.select :seat_no, seats %></td>
              <td><%= f.submit "Select Seat", class: 'btn btn-primary' %></td>
            <% end %>
          <% end %>

        <td><%= f.input :code %></td>
        <td><%= f.submit "Validate Code", class: 'btn btn-primary' %></td>

        </td>
        <td>
          <%= link_to 'Remove ticket', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <%  end %>
  <% end %>

  <tr class="total_line" >
    <td colspan="1" >Total</td>
    <td class="total_cell" ><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= link_to "Checkout" , new_payment_path, class: 'btn btn-success' %>


<script type="text/javascript">
//start a timer & execute a function every 30 seconds and then reset the timer at the end of 30 seconds.
$('#timer').timer({
    format: '%M minutes %s seconds',
    duration: '10m',
    callback: function() {
        alert('Time up!');
        $('#timer').timer('reset');
    },
    repeat: true //repeatedly call the callback
});
</script> -->


<%= csrf_meta_tags %>
<section id="hero_2">
	<div class="intro_title animated fadeInDown">
           <h1>Place your order</h1>
            <div class="bs-wizard">

                <div class="col-xs-4 bs-wizard-step active">
                  <div class="text-center bs-wizard-stepnum">Your cart</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <%= link_to "", cart_path(@cart), class: 'bs-wizard-dot' %>
                </div>

                <div class="col-xs-4 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Your details</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="payment.html" class="bs-wizard-dot"></a>
                </div>

              <div class="col-xs-4 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Finish!</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="confirmation.html" class="bs-wizard-dot"></a>
                </div>

		</div>  <!-- End bs-wizard -->
    </div>   <!-- End intro-title -->
</section><!-- End Section hero_2 -->

    <div id="position">
    	<div class="container">
        	<ul>
            <li><%= link_to "Home", store_url %></li>
            <li><%= link_to "Event", store_url %></li>
            <li><%= link_to "Cart", @cart %></li>
          </ul>
        </div>
    </div><!-- End position -->

    <div class="container margin_60">
    <div class="row">
    <div class="col-md-8">
    	<table class="table table-striped cart-list add_bottom_30">
            <thead>
            <tr>
                <th>
                    Item
                </th>

                <th>
                    Seat No
                </th>

                <th>
                    Promo code
                </th>
                <th>
                    Discount
                </th>
                <th>
                    Total
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
						<h5 style="text-align:center">Your ticket purchase session will be kept for ten minutes.
						Failing which that ticket will be released and you will have to redo the ticketing process again.
						</h5>
						<h3 style="text-align:center">

							<div id="timer"></div>
						</h3>
            <tbody>

							<br><br>

							<br>

                <%= link_to 'Empty cart' , @cart, method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger pull-right' %>
                <br></br><br>
                <% @line_items.each do |line_item| %>
                  <%= render 'carts/cart_row', ticket: line_item.ticket, line_item: line_item %>
                <% end %>

            </tbody>

            </table>
            <table class="table table-striped options_cart">
            <!-- <thead>
            <tr>
                <th colspan="3">
                    Add options / Services
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width:10%">
                    <i class="icon_set_1_icon-16"></i>
                </td>
                <td style="width:60%">
                    Dedicated Tour guide <strong>+RM34</strong>
                </td>
                <td style="width:35%">
                    <label class="switch-light switch-ios pull-right">
                    <input type="checkbox" name="option_1" id="option_1" checked value="">
                    <span>
                    <span>No</span>
                    <span>Yes</span>
                    </span>
                    <a></a>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon_set_1_icon-26"></i>
                </td>
                <td>
                    Pick up service <strong>+RM34*</strong>
                </td>
                <td>
                    <label class="switch-light switch-ios pull-right">
                    <input type="checkbox" name="option_2" id="option_2" value="">
                    <span>
                    <span>No</span>
                    <span>Yes</span>
                    </span>
                    <a></a>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon_set_1_icon-71"></i>
                </td>
                <td>
                    Insurance <strong>+RM24*</strong>
                </td>
                <td>
                    <label class="switch-light switch-ios pull-right">
                    <input type="checkbox" name="option_3" id="option_3" value="" checked>
                    <span>
                    <span>No</span>
                    <span>Yes</span>
                    </span>
                    <a></a>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon_set_1_icon-15"></i>
                </td>
                <td>
                    Welcome bottle <strong>+RM24</strong>
                </td>
                <td>
                    <label class="switch-light switch-ios pull-right">
                    <input type="checkbox" name="option_4" id="option_4" value="">
                    <span>
                    <span>No</span>
                    <span>Yes</span>
                    </span>
                    <a></a>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon_set_1_icon-59"></i>
                </td>
                <td>
                    Coffe break <strong>+RM12*</strong>
                </td>
                <td>
                    <label class="switch-light switch-ios pull-right">
                    <input type="checkbox" name="option_5" id="option_5" value="">
                    <span>
                    <span>No</span>
                    <span>Yes</span>
                    </span>
                    <a></a>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon_set_1_icon-58"></i>
                </td>
                <td>
                    Dinner <strong>+RM26*</strong>
                </td>
                <td>
                    <label class="switch-light switch-ios pull-right">
                    <input type="checkbox" name="option_6" id="option_6" value="">
                    <span>
                    <span>No</span>
                    <span>Yes</span>
                    </span>
                    <a></a>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <i class="icon_set_1_icon-40"></i>
                </td>
                <td>
                    Bike rent <strong>+RM26*</strong>
                </td>
                <td>
                    <label class="switch-light switch-ios pull-right">
                    <input type="checkbox" name="option_7" id="option_7" value="">
                    <span>
                    <span>No</span>
                    <span>Yes</span>
                    </span>
                    <a></a>
                    </label>
                </td>
            </tr>
            </tbody> -->
            </table>
            <!-- <small>* Prices for person.</small> -->
    </div><!-- End col-md-8 -->

    <aside class="col-md-4">
    <div class="box_style_1">
        <h3 class="inner">- Summary -</h3>
        <table class="table table_summary">
        <tbody>
          <% @ticket.each do |ticket| %>
          <tr>
            <td>
              <%= Ticket.find(ticket).ticket_type %>
            </td>
            <td class="text-right">
              <%= @line_items.where(ticket_id: ticket).pluck(:quantity).sum %>
            </td>
          </tr>
          <% end %>
        <tr class="total">
          <td>
              Total cost
          </td>
          <td class="text-right">
            RM<%= @cart.total_price %>
          </td>
        </tr>
        </tbody>
        </table>

				<% if @cart.total_price == 0 && (current_user.curator? || current_user.admin?) %>
					<%= link_to "Special check out" , special_checkout_path, method: :post, class: 'btn_full' %>
				<% end %>
        <%= link_to "Check out" , new_payment_path, class: 'btn_full' %>
        <%= link_to "Continue" , store_url, class: 'btn_full_outline icon-right' %>
    </div>
    <div class="box_style_4">
        <i class="icon_set_1_icon-57"></i>
        <h4>Need <span>Help?</span></h4>
        <a href="tel://004542344599" class="phone">+45 423 445 99</a>
        <small>Monday to Friday 9.00am - 7.30pm</small>
    </div>
    </aside><!-- End aside -->

</div><!--End row -->
</div><!--End container -->


<div id="toTop"></div><!-- Back to top button -->

<%= javascript_include_tag 'timer.jquery.js' %>

<script type="text/javascript">

$('#timer').timer({
		format: '%M minutes %s seconds',
		duration: '10m',
		callback: function() {
				alert('Time up! You cart will be deleted now ! You will be redirected to home page. ');
				$.ajax({
					url: "/carts/delete_cart/" + <%= @cart.id %>,
					type: "get",
					data: {"_method":"delete"}
				});
		}
});

$(document).ajaxStop(function(){
    document.location.href = '/';
});

</script>





  </body>
</html>
