<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

<% if can? :manage, @users %>
<%= link_to 'Events', events_path, class: 'btn btn-default' %>
<%= link_to 'New User', new_user_path, class: 'btn btn-default' %>
<h1>All users</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<% else %>
  <p>Hello, you are not an Admin</p>
<% end %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
