<style>
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }

  td {
    border-left: solid 10px #000;
    padding: 0;
    margin: 0;
    width: 0px;
    height: 10px;
  }

  td.black { border-color: #000; }
  td.white { border-color: #fff; }
</style>

<section id="course-content">
  <section id="ruby">
    <section class="detailed-syllabus">
      <div class="wrapper-inside">
        <h3 class="title">Payment invoice #<%= @payment.id %></h3>
      </div>
      <div class="columns clearfix">
        <div class="left" style="padding-left:100px;">
          <p id="notice">
            <%= notice %>
          </p>

          <%= image_tag @qr %>

          <p>
            <strong>Price:</strong>
            <%= @payment.currency_type %> <%= @payment.transaction_amount %>
          </p>
          <p>
            <strong>Payment status:</strong>
            <%= @payment.status %>
          </p>
          <p>
            <strong>Payment date:</strong>
            <%= @payment.purchased_at %>
          </p>
          <p>
            <strong>Reference Number:</strong>
            <%= @payment.transaction_id %>
          </p>
        </div>
      </div>
    </section>
  </section>
</section>
