<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

<p>
  <strong>Ticket:</strong>
  <%= @discount.ticket_id %>
</p>

<p>
  <strong>Discount percentage:</strong>
  <%= @discount.discount_percentage %>
</p>

<p>
  <strong>Code:</strong>
  <%= @discount.code %>
</p>

<%= link_to 'Edit', edit_event_discount_path(@event, @discount) %> |
<%= link_to 'Back', event_discounts_path(@event) %>

</div>
